.my-carousel {
  width: 100%;
  height: 100vh;
  /* border: 1px solid #ccc; */
}
.benefits-section-carousel-img {
  margin: 2rem 0;
  width: 17rem;
  text-align: center;
}
.benefits-section-carousel-img img {
  width: 10rem;
}
.benefits-section-carousel-heading {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.benefits-section-carousel-subheading {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.benefits-section-carousel-layout {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  /* padding: 3rem 3rem 3rem 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .my-carousel {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    /* border: 1px solid red; */
  }
  .benefits-section-carousel-img {
    width: 5rem;
    display: flex;
    justify-content: center;
  }
  .benefits-section-carousel-img img {
    width: 5rem;
    display: flex;
    justify-content: center;
  }
  .benefits-section-carousel-heading {
    font-size: 1.5rem;
    margin: 0 2rem;
    text-align: center;
  }
  .benefits-section-carousel-layout {
    justify-content: "center";
  }
}
